
<%= simple_form_for(@user) do |f| %>

    <div class="form-group">
      <%= f.input :name, :autofocus => true, class: 'form-control' %>
    </div>

    <div class="form-group">
      
      <%= f.input :first_name, class: 'form-control' %>
    </div>

<% if current_user.status == "Admin" %>

    <div class="form-group">
      
      <%= f.label :company %>
      <%= f.select :company, options_for_select([t("users.individual"),t("users.company"),t("users.association"),t("users.institution")],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
    </div>

    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :status, options_for_select([t("users.admin"),t("users.staff"),t("users.client")],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
    </div>

<% end %>

	<div class="form-actions">

    <%= f.submit t("users.save"), class: "btn btn-default" %>

  	</div>

<% end %>