
<%= simple_form_for(@user) do |f| %>

    <div class="form-group">
      <%= f.input :name, :autofocus => true, class: 'form-control' %>
    </div>

    <div class="form-group">
      
      <%= f.input :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      
      <%= f.label :company %>
      <%= f.select :company, options_for_select(["Particulier","Entreprise","Association","Institution"],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
    </div>

    <div class="form-group">
      
      <%= f.input :status, class: 'form-control' %>
    </div>


	<div class="form-actions">

    <%= f.button :submit, class: "btn btn-default" %>

  	</div>

<% end %>